<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>

<%# This will be the list of all the students with a link to their name 
(first and last name)%>